@()

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@init_main("Welcome to TEAHub") {
    <div class="container theme-showcase" role="main">
        <div class="container-main">
            <div class="row">
                <div class="col-md-8">

                    <div style="height: 150px">
                        <h1>Welcome to TEAHub, have a cup.</h1>
                        <p>Here you will see a description of TEAHub.</p>

                        <a href="/projectsSetup" class="btn btn-primary" role="button">Sign in</a>
                        <a href="/projectsSetup" class="btn btn-primary" role="button">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
